@import url('popup.css');

p {	

	text-align: justify;
	margin: 0 auto;
	color: #fff;
}

div {
	margin: 0 auto;
	width: 80%;
	margin-bottom: 15px;
}

div span{
	display: block;
}

.question {
	text-align: left;
	color: #fff;
	margin-bottom: 5px;
}

.answer {
	text-align: left;
	color: #c5b06e;

}

p a:link {
	text-decoration: none;
	text-shadow: 0 0 3px #82F22C;
	color: #c8f27c;
}

p a:visited {
	text-decoration: none;
	color: #c8f27c;
}


p a:hover {
	text-decoration: none;
	color: #ebf5da;
}

p a:active {
	text-decoration: none;
	color: #c8f27c;
}

