@import url('popup.css');

p {
	width: 80%;
	text-align: justify;
	margin: 0 auto;
	color: #fff;
	font-size: 14px;
}

.youtube {
	margin: 0 auto;
	width: 640px;
}

img {
	margin-bottom:10px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 4px rgba(0, 0, 0, 1);
	border: 4px solid #c5b06e;


}
