html {
	width: 100%;
	background-color:#202020;
	background-image: url(../img/noisy.png);
	position: relative;
    min-height: 100%;
}

body {
	font-family: "Open Sans";
	background-image: url(../img/background.png);
	background-repeat:repeat-x;
	margin: 0 0 100px 0; /* bottom = footer height */
}

header {
	background-image: url(../img/nav.png);
	width: 840px;
	height: 78px;
	margin: 0 auto;
}

nav{
    list-style:none;
    margin:0 auto;
    padding:0;
    text-align:center;
    width: 538px;
    height: 51px;
}

nav ul {
	margin:0;
	padding: 0;
	width: 100%;
    height: 100%;
}

nav li{
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 51px;
}
nav a:link{
    display:inline-block;
    width: 100%;
    height:100%;
    padding:0px 0px 0px 0px;
    margin: 0 auto;
    font-family: "Neuton";
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: #c5b06e;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);


    
}

nav a:visited{
     color: #c5b06e;
}

nav a:hover{
     color: #f9d259;
     background-image: url(../img/linkbackground.png);
     background-repeat:no-repeat;
     background-position:50% 50%;
}

nav a:active{
     color: #c5b06e;
}


#home {
	margin: 0px 0px 0px -15px;
	padding: 5px 0 0 0;
}

#about {
	margin: 0px 0px 0px 0px;
	padding: 5px 0 0 0;
}

#logout {
	margin: 0px -15px 0px 0px;
	padding: 5px 0 0 0;
}



#login {
	max-width:500px;
	margin: 20px auto 0 auto;
	padding: 20px;
	background-color: #414141;
	background-image: url(../img/noisy2.png);
	color: #f1f1f1;
	font-family: "Open Sans";
	text-align: center;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
	z-index:1;
}

#loginimage1 {
	margin: 40px auto -60px auto;
	background-image: url(../img/jugglogin.png);
	width: 354px;
	height: 326px;
	z-index:2;
	position:relative;
}

#loginimage2 {
	margin: 40px auto -60px auto;
	background-image: url(../img/invologin.png);
	width: 628px;
	height: 313px;
	z-index:2;
	position:relative;
}

#loginimage3 {
	margin: 40px auto -60px auto;
	background-image: url(../img/ursalogin.png);
	width: 566px;
	height: 302px;
	z-index:2;
	position:relative;
}


#loginimage4 {
	margin: 40px auto -60px auto;
	background-image: url(../img/lycanlogin.png);
	width: 448px;
	height: 314px;
	z-index:2;
	position:relative;
}


.graph {
	margin: 0 0 20px 0;
}

.heroicon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

#profile {
	max-width:450px;
	margin: 0 auto;
	padding: 10px;
	background-color: #414141;
	color: #f1f1f1;
	font-family: "Open Sans";
	text-align: left;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
	background-image: url(../img/profilebg.png);
}

#profile ul {
	list-style-type: none;
}


#profile p {
	margin: 0;
	padding: 0;	
}

#profile a:link {
	font-size: 18px;
	text-decoration: none;
	text-shadow: 0 0 3px #82F22C;
	color: #c8f27c;
}

#profile a:visited {
	text-decoration: none;
	color: #c8f27c;
}


#profile a:hover {
	text-decoration: none;
	color: #ebf5da;
}

#profile a:active {
	text-decoration: none;
	color: #c8f27c;
}

#profileinfo {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding-bottom: 3px;
}

#profileinfo img {
	width:80px;
	height:80px;
	margin-top: 10px;
	-webkit-border-radius: 3px;
border-radius: 3px;
border-color: rgba(0, 0, 0, 0.5);
border-style:solid;
border-width:1px;
vertical-align: top;
}

#profileoptions {
	display: inline-block;
	width: 70%;
	text-align: right;
}

footer {

	color: #B3B3B3;
	text-align: center;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

footer hr {
	border-color: #482627;
	border-width: 1px;
	color: #482627;
	background-color: #482627;
	height: 1px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

#LastHits{
	margin-top: 20px;
}