html {
	width: 100%;
	background-color:#202020;
	background-image: url(../img/noisy.png);
	position: relative;
    min-height: 100%;
}

body {
	font-family: "Open Sans";
	margin: 0;
}

header {
	text-align: center;
	width: 100%;
}

h1 {
	margin: 10px 0px 0px 0px;
	font-family: "Neuton";
    font-size: 38px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: #c5b06e;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);

}

h2 {
	margin-top: 0px;
	font-family: "Neuton";
    font-size: 24px;
    text-decoration: none;
    font-weight: 300;
    color: #c5b06e;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
